.LangCont
{
    position: absolute;
    right: 20px;
    top: 20px;
    width: min(3.75%,63px);
    transform: scale(1,1);
    transition: transform 0.1s ease-out;
    z-index:100;
}

#LangCont-Hovering 
{
    display: none;
    background-color:#0570E6 ;
    border-radius: 15px;
    position: fixed;
    padding: 10px;
    right: 10px;
    bottom: 60px;
    top: auto;
    width: min(3%,50px);
    transition: opacity 250ms linear;
}

.LangCont * 
{
    cursor: pointer;
}

.LangCont:hover{
    transform: scale(1.15,1.15);
    transition: transform 0.1s ease-in;
}

#LangButton,#LangButton-Hovering
{
    width: 100%;
    border: none;
    background-color: transparent;
    /* background-image: url('language.png'); */
}

#lang,#lang-Hovering
{
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: white;
    font-weight: bolder;
    user-select: none;
}