#LangCont
{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 5vh;
    transform: scale(1,1);
    transition: transform 0.1s ease-out;
}

#LangCont * 
{
    cursor: pointer;
}

#LangCont:hover{
    transform: scale(1.15,1.15);
    transition: transform 0.1s ease-in;
}

#LangButton
{
    width: 100%;
    border: none;
    background-color: transparent;
    /* background-image: url('language.png'); */
}

#lang
{
    text-align: center;
    margin: 0;
    color: white;
    font-weight: bolder;
    user-select: none;
}