*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: white;
}
html
{
    scroll-behavior: smooth;

}

::-webkit-scrollbar-thumb
{
    background-color: #415D93;
    border-radius: 6px;
    
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    width: 12px;
    background-color: rgb(189, 189, 189);
}

::-webkit-scrollbar
{
    
    width: 10px;

}


#Header
{
    background-color: rgb(65, 120, 209);
    /* background-image: url('india-freedom.jpg'); */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
    box-shadow: 0px 5px 19px 4px rgba(17,17,17,0.5);
}
#buttonTray
{
    height: 80px;
    width: 100%;
    background-color: #3867B5;
}

#TitleDiv
{
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 200px;
    padding-left: 40px;
    box-sizing: border-box;
}

#TitleDiv img
{
    display: inline;
    height: 100px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.1s ease-out;
}

#TitleDiv img:hover
{
    transform: scale(1.1,1.1);
    transition: transform 0.15s ease-in;
}

#Title{
    display: inline;
    align-self: flex-end;
    margin-bottom: 30px;
    font-size: 50px;
    color:white;
    font-weight: bold;
}

#Main
{
    margin:auto;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 60px auto;
    padding-bottom: 30px;
    /* border: 2px solid black; */
    
}
#SecondColoumn
{
    width: 50%;
    display: grid;
}

#ThirdColoumn
{
    width: 50%;
    display: grid;
}

.tableImage 
{
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:15px;
    box-shadow: 5px 5px 15px 0 rgb(71, 71, 71);        
}

.tableImage:hover
{
    object-fit: contain;
}


.tableText, .ImageCont
{
    height: 400px;
    width: 90%;
    margin: 65px auto;
    box-sizing: content-box;
}

.ImageCont
{
    overflow: visible;
    display: flex;
    justify-content: center;
    background-color: rgb(244, 245, 248);
    
}
.tableText 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 25px;
    background-color: rgb(244, 245, 248);
    border-radius: 10px;
    box-sizing: border-box;
    
}

.TextCont
{
    min-height: 0;
    flex-shrink: 1;
    overflow: hidden;
}

.Image
{
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    height: 70%;
}

.Titles
{
    width: 100%;
    font-size: 35px;
    color: rgb(24, 24, 24);
    flex-shrink: 0;
}

.Texts
{
    margin-top: 10px;
    width: 100%;
    line-height: 1.3;
    color: rgb(49, 49, 49);
    font-size: 22px;
}

a{
    text-decoration: none;
}

#Footer
{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 20vh;
    bottom: 0;
}