
#buttonTray
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#buttonTray button
{
    height: 100%;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.1s ease-out ;
    box-sizing: border-box;
}

#buttonTray button:hover
{
    padding-bottom: 10px;
    transition: 0.1s ease-in ;
    background-color: #2f5899;

}

.Buttons
{
    margin-top: 10px;
    height: 45px;
    width: 50%;
    align-self: flex-end;
    flex-shrink: 0;
    border: none;
    background-color: #4484e4;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    cursor:pointer;
    transition: 0.15s ease-out;
    box-shadow: 2px 3px 10px 0 rgb(82, 82, 82);
}

.Buttons:hover 
{
    width: 70%;
    transition: 0.2s ease-in;
    background-color: rgb(228, 52, 52);
}
