#buttonTray *
{
    font-size: 17px;
    font-weight: 500;
    color:white;
}

#buttonTray
{
    color:white;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}
